.line {
  display: inline-block;
  white-space: pre-wrap;
  width: 100%;
  min-height: 15px;
}

.line:hover,
.line:focus,
.line.selected:hover,
.line.selected:focus {
  background: #222;
}

.line.selected {
  background: #333;
}
