.button {
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  color: hsl(0, 0%, 43.9%);
  background: hsl(0, 0%, 11%);
  border: 1px solid transparent;
  font-size: 16px;
  transition: all 0.1s linear;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button:hover {
  color: hsl(0, 0%, 49.4%);
  background: hsl(0, 0%, 13.6%);
}

.button:disabled {
  cursor: not-allowed;
  color: hsl(0, 0%, 20.5%);
  background: hsl(0, 0%, 8.5%);
}

/* Primary */
.button.primary {
  color: hsl(252, 56%, 57.5%);
  background: hsl(253, 37%, 18.4%);
}

.button.primary:hover {
  color: hsl(250, 95%, 76.8%);
  background: hsl(252, 40.1%, 22.5%);
}

.button.primary:disabled {
  color: hsl(250, 46.8%, 38.9%);
  background: hsl(255, 30.3%, 12.9%);
}

/* Secondary */
.button.secondary {
  color: hsl(252, 56%, 57.5%);
  background: hsl(253, 37%, 18.4%);
}

.button.secondary:hover {
  color: hsl(250, 95%, 76.8%);
  background: hsl(252, 40.1%, 22.5%);
}

.button.secondary:disabled {
  color: hsl(250, 46.8%, 38.9%);
  background: hsl(255, 30.3%, 12.9%);
}

/* Success */
.button.success {
  color: hsl(151, 51.7%, 28.4%);
  background: hsl(155, 46.7%, 10.9%);
}

.button.success:hover {
  color: hsl(151, 55%, 41.5%);
  background: hsl(154, 50.9%, 17.6%);
}

.button.success:disabled {
  color: hsl(131, 43%, 57.2%);
  background: hsl(136, 38.7%, 16%);
}

/* Success */
.button.danger {
  color: hsl(358, 65%, 40.4%);
  background: hsl(356, 43.4%, 16.4%);
}

.button.danger:hover {
  color: hsl(358, 75%, 59%);
  background: hsl(356, 47.6%, 19.2%);
}

.button.danger:disabled {
  color: hsl(131, 43%, 57.2%);
  background: hsl(136, 38.7%, 16%);
}
