.preview {
  font-family: monospace;
  white-space: pre-wrap;
  background: #111;
  overflow-x: scroll;
}

.preview .matched {
  color: hsl(250, 95%, 76.8%);
  background: hsl(252, 40.1%, 22.5%);
}

.preview .matched > .matched {
  font-weight: bold;
  color: hsl(252, 40.1%, 22.5%);
  background: hsl(250, 95%, 76.8%);
  display: inline-block;
}

.preview.error {
  color: hsl(358, 75%, 59%);
  background: hsl(357, 34.4%, 12%);
}
