.preview {
  font-family: monospace;
  white-space: pre-wrap;
  background: #111;
  overflow-x: scroll;
}

.preview .matched {
  color: hsl(250, 95%, 76.8%);
  background: hsl(252, 40.1%, 22.5%);
}

.preview .matched > .matched {
  font-weight: bold;
  color: hsl(252, 40.1%, 22.5%);
  background: hsl(250, 95%, 76.8%);
  display: inline-block;
}
.violetDark {
  --violet1: hsl(250, 20%, 10.2%);
  --violet2: hsl(255, 30.3%, 12.9%);
  --violet3: hsl(253, 37%, 18.4%);
  --violet4: hsl(252, 40.1%, 22.5%);
  --violet5: hsl(252, 42.2%, 26.2%);
  --violet6: hsl(251, 44.3%, 31.1%);
  --violet7: hsl(250, 46.8%, 38.9%);
  --violet8: hsl(250, 51.8%, 51.2%);
  --violet9: hsl(252, 56%, 57.5%);
  --violet10: hsl(251, 63.2%, 63.2%);
  --violet11: hsl(250, 95%, 76.8%);
  --violet12: hsl(252, 87%, 96.4%);
}
.preview.error {
  background: hsl(357, 60.2%, 31.8%);
}
