/* <Debug /> */
.debug,
.debug textarea {
  color: #fff;
  background: #111;
}

.debug textarea {
  border: none;
  height: 100%;
}

.debug textarea:focus {
  outline: none;
}

.debug.error,
.debug.error textarea {
  color: hsl(358, 75%, 59%);
  background: hsl(357, 34.4%, 12%);
  border-radius: 6px;
}
