.toggle {
  border: none;
  padding: 10px 16px;
  color: hsl(151, 51.7%, 28.4%);
  background: hsl(155, 46.7%, 10.9%);
  border-radius: 4px;
}

.toggle.on,
.toggle:hover {
  color: hsl(131, 43%, 57.2%);
  background: hsl(136, 38.7%, 16%);
}
