/* <Stack /> */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack.f {
  flex: 1;
}

.stack.h {
  flex-direction: row;
}

.stack.end {
  align-items: end;
}

.stack.start {
  align-items: start;
}

.stack.center {
  align-items: center;
}

.stack.stretch {
  align-items: stretch;
}

.stack.sm {
  gap: 10px;
}

.stack.md {
  gap: 16px;
}

.stack.lg {
  gap: 24px;
}

.stack.ps {
  padding: 10px;
}

.stack.pm {
  padding: 16px;
}

.stack.pl {
  padding: 24px;
}

.stack.rs {
  border-radius: 4px;
}

.stack.vh {
  min-height: 100vh;
}
